html * {
  font-family: 'Baloo', sans-serif;
}
/*START MAIN APP*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  margin-top: 20;
  background-color: orange;
  border: 1px solid blue;
  height: 50vh;
  padding-top: 0;
  color: white;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.position-top {
  /*font-size: 4em;*/
  line-height: 1.0;
  margin-bottom:0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.outer {
  position: absolute;
  background-color: yellow;
  width:100%;
  height:100%;
}
.top {
  background-color: orange;
  top: 0;
  bottom: 200px;
  left: 0;
  right: 0;
  margin:10px 10px 0 10px;/* top | right | bottom | left */
}
.bottom-left {
  background-color: blue;
  height: 200px;
  left: 0;
  width: 200px;
  bottom: 0;
  margin:0px 10px 10px 10px;/* top | right | bottom | left */
}
.bottom-right {
  background-color: green;
  height: 200px;
  left: 200px;
  right: 0;
  bottom: 0;
  margin:0px 10px 10px 0px;/* top | right | bottom | left */
}
/*END MAIN APP*/

/*START StartPage*/
.startPageMainDiv {
  position: absolute;
  top:50px;
  left:50px;
  bottom:50px;
  right:50px;
  background-color: orange;
  border-radius: 5px;

}
.startPageMainDiv h1 {
  text-align: center;
  font-size: 5em;
  margin: 0;
}
.startPageMainDiv h2 {
  text-align: center;
  font-size: 2em;
  margin-top: 0;

}
.startPageMainDiv p {
  text-align: center;
  font-size: 3vh;
}
.player-edit {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  border-width:3px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  overflow: hidden;
  /*position: absolute;
  top: 28%;
  left: 5%;*/
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;*/
}

.name-input {
  font-size: 5vh;
  text-align: center;
  border-radius: 10px;
  border-style: inset;
  width: 80%;
}

.add-me-button {
    padding: 5px;
    padding: 1vh;
    font-size: 5vh;
    margin: 1vh;
    border-radius: 10px;
    background: blue;
    background: radial-gradient(white, blue);
    border-style: outset;
}
.player-welcome {
  text-align: center;
  font-size: 4vh;
}
.hidden {
    display: none;
}

.start-buttons {
  /*float: right;*/
  position: absolute;
  padding-right:10px;
  bottom: 75px;
  right: 100px;

}
button.start-easy-game-button {
  text-align: center;
  color: black;
  border-radius: 50px;
  margin-top: 5px;
  height: 100px;
  width: 100px;
  padding: 0.1em 0.5em;
  margin-right: 5px;
  font-size: 1.5em;
  background: green; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#00e600, #006800); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#00e600, #006800); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#00e600, #006800); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#00e600, #006800); /* Standard syntax (must be last) */
}
button.start-medium-game-button {
  text-align: center;
  color: black;
  border-radius: 50px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: 100px;
  width: 100px;
  padding: 0.1em 0.5em;
  font-size: 1.5em;
  background: orange; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#ff8c00, #cd6600); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#ff8c00, #cd6600); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#ff8c00, #cd6600); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#ff8c00, #cd6600); /* Standard syntax (must be last) */
}
button.start-hard-game-button {
  text-align: center;
  color: black;
  border-radius: 50px;
  margin-top: 5px;
  margin-left:5px;
  margin-left: 5px;
  height: 100px;
  width: 100px;
  padding: 0.1em 0.5em;
  font-size: 1.5em;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#ff0000, #8b0000); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#ff0000, #8b0000); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#ff0000, #8b0000); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#ff0000, #8b0000); /* Standard syntax (must be last) */
}


li.players {
  list-style: none;
  padding-left: 5px;
  text-align: left;
  line-height: 1.5em;
}
/*END StartPage*/

.winner {
  position: relative;
  bottom: 100px;
  text-align: center;
  -ms-transform: rotate(-15deg); /* IE 9 */
  -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
  transform: rotate(-15deg);
  font-size: 1em;
  color: black;
  /*trying animation to make text DO SOMETHING when it appears*/
  animation: fadein 2s;
  animation-iteration-count: 3;
  animation-duration: 2s;
  animation-fill-mode: both;

    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s;
  /*trying transition to make text DO SOMETHING when it appears*/
  /*-webkit-transition: color 2s, font-size 1s ease;
   -moz-transition: color 2s, font-size 1s ease;
     -o-transition: color 2s, font-size 1s ease;
        transition: color 2s, font-size 1s ease;*/
}
@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
/*.winner::before {
  font-size: 1em;
  color: black;
}
.winner::after {
  font-size: 2em;
  color: blue;
}*/
.font-grow {
  font-size: 3em;
  color: blue;
}
/*END rendering cards in APP*/

/*START CARDS-CONTAINER*/
.cards-container {
  padding: 0;
  margin: 0;
  /*margin-right: 10px;*/
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

}
.wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.memory-cards {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 90vh;
  min-height: 89vh;
  width: 100vw;
  min-width: 300px;
  margin: 0 auto;

}

/*END memory-cards layout*/

/*START CARD component*/
.cards-space {
  border: 5px ridge;
  max-width: 20%;
  min-height: 11.5vh;
  max-height: 11.5vh;
  margin-top: 5px;
  /*line-height: 150%;*/
  color: black;
  font-weight: bold;
  text-align: center;
  justify-content: space-around;
  background-size: cover;
  font-size: 0.8em;
}
.card-name {
  color: black;
}
.cards-space:hover {
  cursor: pointer;
}
.game-over {
  position: relative;
  top: 50px;
  text-align: center;
  -ms-transform: rotate(-15deg); /* IE 9 */
  -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
  transform: rotate(-15deg);
  font-size: 3em;
}
/*START GAME component*/
.game {
  position: absolute;
  text-align: center;
  color: black;
  /*margin: 20px;*/
  margin-top: 20px;
  width: 80%;
  border: 1px solid red;
  padding: 20px;
}
h3.gamenumber  {
  margin-top: 20px;
  font-size: 0.9em;
}
.number{
  margin-top: 60px;
  font-size: 0.9em;
}
button.start-game-button {
  text-align: center;
  color: black;
  border-radius: 50px;
  margin-top: 5px;
  height: 50px;
  width: 50px;
  padding: 0.1em 0.5em;
  font-size: 0.7em;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#00e600, #006400); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#00e600, #006400); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#00e600, #006400); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#00e600, #006400); /* Standard syntax (must be last) */
}
/*END GAME component*/

