.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  margin-top: 20;
  background-color: orange;
  border: 1px solid blue;
  height: 50vh;
  padding-top: 0;
  color: white;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.top {
  /*font-size: 4em;*/
  line-height: 1.0;
  margin-bottom:0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*START rendering cards in APP*/
.start-buttons {
  float: right;
  padding-right:10px;
}
button.start-easy-game-button {
  text-align: center;
  color: black;
  border-radius: 50px;
  margin-top: 5px;
  height: 50px;
  width: 50px;
  padding: 0.1em 0.5em;
  margin-right: 5px;
  font-size: 0.7em;
  background: green; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#00e600, #006800); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#00e600, #006800); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#00e600, #006800); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#00e600, #006800); /* Standard syntax (must be last) */
}
button.start-medium-game-button {
  text-align: center;
  color: black;
  border-radius: 50px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: 50px;
  width: 50px;
  padding: 0.1em 0.5em;
  font-size: 0.7em;
  background: orange; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#ff8c00, #cd6600); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#ff8c00, #cd6600); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#ff8c00, #cd6600); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#ff8c00, #cd6600); /* Standard syntax (must be last) */
}
button.start-hard-game-button {
  text-align: center;
  color: black;
  border-radius: 50px;
  margin-top: 5px;
  margin-left:5px;
  margin-left: 5px;
  height: 50px;
  width: 50px;
  padding: 0.1em 0.5em;
  font-size: 0.7em;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#ff0000, #8b0000); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#ff0000, #8b0000); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#ff0000, #8b0000); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#ff0000, #8b0000); /* Standard syntax (must be last) */
}
.player-edit {
  margin-bottom: 20px;
  border-width:3px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

li.players {
  list-style: none;
  padding-left: 5px;
  text-align: left;
  line-height: 1.5em;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}

.cards-container {
  padding: 0;
  margin: 0;
  /*margin-right: 10px;*/
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

}
.wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.memory-cards {
  text-align: center;
  /*background-color: #666;*/
  /*background-color: yellow;*/
  /*padding: 20px;*/
  /*color: black;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 90vh;
  min-height: 89vh;
  width: 100vw;
  min-width: 300px;
  margin: 0 auto;

}
.memory-cards > * {
  /*-webkit-box-flex: 1;*/
      /*-ms-flex: 1 4 auto;*/
          /*flex: 1 4 auto;*/
  /*padding-left: 0.5em;*/
  /*padding-right: 0.5em;*/
  /*border: 5px double black;*/
  /*background-color: white;*/
  /*-webkit-transition: all 0.3s;*/
  /*transition: all 0.3s;*/
  /*box-shadow: 0px 5px 5px rgba(0,0,0,0.1);*/
  /*overflow: hidden;*/
}
.memory-cards > *:first-child {
  /*-ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 12vw;
      flex-basis: 12vw;
      max-width: 12vw;
  /*background: purple;*/
  /*color:white;*/
  /*border: 5px double black;*/
}
.memory-cards > *.second-child {
  /*-ms-flex-negative: 1;*/
      /*flex-shrink: 1;*/
  /*-ms-flex-preferred-size: 76vw;*/
      /*flex-basis: 76vw;*/
}
.memory-cards > *:last-child {
  /*-ms-flex-negative: 1;*/
      /*flex-shrink: 1;*/
  /*-ms-flex-preferred-size: 12vw;*/
      /*flex-basis: 12vw;*/
      /*max-width: 12vw;*/
  /*background: purple;*/
  /*color:white;*/
  /*border: 5px double black;*/
}
/*END memory-cards layout*/

/*START CARD component*/
.cards-space {
  border: 5px ridge;
  width: 20%;
  max-width: 20%;
  min-height: 11.5vh;
  max-height: 11.5vh;
  margin-top: 5px;
  /*line-height: 150%;*/
  color: black;
  font-weight: bold;
  text-align: center;
  justify-content: space-around;
  background-size: cover;
  font-size: 0.8em;
}
.card-name {
  color: black;
}
.cards-space:hover {
  cursor: pointer;
}

/*START GAME component*/
.game {
  position: absolute;
  text-align: center;
  color: black;
  /*margin: 20px;*/
  margin-top: 20px;
  width: 80%;
  border: 1px solid red;
  padding: 20px;
}
h3.gamenumber  {
  margin-top: 20px;
  font-size: 0.9em;
}
.number{
  margin-top: 60px;
  font-size: 0.9em;
}
button.start-game-button {
  text-align: center;
  color: black;
  border-radius: 50px;
  margin-top: 5px;
  height: 50px;
  width: 50px;
  padding: 0.1em 0.5em;
  font-size: 0.7em;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#00e600, #006400); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#00e600, #006400); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#00e600, #006400); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#00e600, #006400); /* Standard syntax (must be last) */
}
/*END GAME component*/
