.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  margin-top: 20;
  background-color: orange;
  border: 1px solid blue;
  height: 50vh;
  padding-top: 0;
  color: white;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.top {
  /*font-size: 4em;*/
  line-height: 1.0;
  margin-bottom:0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*START rendering cards in APP*/
.start-buttons {
  float: right;
  padding-right:10px;
}
button.start-easy-game-button {
  text-align: center;
  color: black;
  border-radius: 50px;
  margin-top: 5px;
  height: 50px;
  width: 50px;
  padding: 0.1em 0.5em;
  margin-right: 5px;
  font-size: 0.7em;
  background: green; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#00e600, #006800); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#00e600, #006800); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#00e600, #006800); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#00e600, #006800); /* Standard syntax (must be last) */
}
button.start-medium-game-button {
  text-align: center;
  color: black;
  border-radius: 50px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: 50px;
  width: 50px;
  padding: 0.1em 0.5em;
  font-size: 0.7em;
  background: orange; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#ff8c00, #cd6600); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#ff8c00, #cd6600); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#ff8c00, #cd6600); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#ff8c00, #cd6600); /* Standard syntax (must be last) */
}
button.start-hard-game-button {
  text-align: center;
  color: black;
  border-radius: 50px;
  margin-top: 5px;
  margin-left:5px;
  margin-left: 5px;
  height: 50px;
  width: 50px;
  padding: 0.1em 0.5em;
  font-size: 0.7em;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#ff0000, #8b0000); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#ff0000, #8b0000); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#ff0000, #8b0000); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#ff0000, #8b0000); /* Standard syntax (must be last) */
}
.player-edit {
  margin-bottom: 20px;
  border-width:3px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

li.players {
  list-style: none;
  padding-left: 5px;
  text-align: left;
  line-height: 1.5em;
}
.hidden {
    visibility: hidden;
}
.visible {
    display: block;
}
